@page "/Subscription/MomoCallback"
@model Assignment1_PRN222_Group7.Pages.Subscription.MomoCallbackModel
@{
    ViewData["Title"] = "Momo Callback";
}
<p>Đang xử lý phản hồi thanh toán từ MoMo...</p>
