@page "/Subscription/VnPayCallback"
@model Assignment1_PRN222_Group7.Pages.Subscription.VnPayCallbackModel
@{
    ViewData["Title"] = "VnPay Callback";
}
<p>Đang xử lý phản hồi thanh toán từ VNPAY...</p>
